<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZLgo_ANEjc_9KcENCv-Gttjex_IFpGzY</string>
	<key>GCM_SENDER_ID</key>
	<string>452639779041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the.traaillexhub</string>
	<key>PROJECT_ID</key>
	<string>app364-8cc81</string>
	<key>STORAGE_BUCKET</key>
	<string>app364-8cc81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452639779041:ios:3250ef5b42dc9a9f1cafa0</string>
</dict>
</plist>